<%- include('partials/header') -%>
    
    <div class="loader"></div>

    <!-- <div class="index-pre-content"></div> -->
    <img class="index-pre-content" src="/images/logoname.png"   alt="">

    <div class="lds-ellipsis"><span>COMING SOON</span> <div></div><div></div><div></div><div></div></div>

<%- include('partials/footer') -%>